{% extends "Template.html" %}

{% block content %}

<div class="container  pb-5 mt-5">
    <h2 class="mt-3 d-flex justify-content-center" style="font-family: Lost Emerald;font-size: 50px ;">Final Stage</h2>

    <h3 class="mt-3">História:</h3>

    <p>A Final Stage é muito mais do que uma marca de perfumes. Nasceu da paixão pela perfumaria e da busca incessante
        por criar fragrâncias que contam histórias emocionantes. Fundada com essa filosofia, a marca iniciou sua jornada
        em 2010, quando um grupo de amantes da arte das fragrâncias decidiu criar uma linha de perfumes inspirados na
        riqueza de aromas do mundo. Assim, a Final Stage se tornou um nome reconhecido por aqueles que buscam uma
        experiência olfativa única e memorável. Nossa história é moldada pela exploração dos mais refinados ingredientes
        e pela busca pela perfeição olfativa.</p>

    <h3>Propósito:</h3>

    <p>Nosso propósito é proporcionar uma experiência olfativa que inspire a autenticidade e celebre cada momento
        especial da vida. Cada fragrância da Final Stage é uma jornada sensorial em si, com notas que evocam a
        diversidade de emoções, a confiança e a beleza que a vida tem a oferecer. Acreditamos que cada fragrância deve
        ser um lembrete de que todos têm o poder de expressar sua identidade e desfrutar das nuances da vida.</h3>

    <h3>Visão:</h3>

    <P>Nossa visão é ser a marca de perfumes que inspira as pessoas a abraçar sua singularidade e a celebrar cada
        experiência que a vida proporciona. Queremos ser a escolha natural para aqueles que buscam fragrâncias que
        representem sua personalidade e que completem momentos especiais. Vemos um mundo onde cada pessoa que usa um
        perfume da Final Stage se sente inspirada a ser autêntica e a aproveitar cada aroma da vida. Queremos ser
        reconhecidos não apenas por nossos produtos excepcionais, mas também por nossa mensagem de individualidade e
        celebração. Na Final Stage, acreditamos que a vida é uma obra de arte em constante evolução, e estamos aqui para
        ajudá-lo a perfumá-la de forma única. Junte-se a nós e celebre sua própria essência.</P>
</div>
{% endblock %}