{% extends "Template.html" %}

{% block content %}

<div class="container  pb-5 mt-5">

    <h2><span style="color: rgb(68, 68, 68);">PPOLÍTICA DE TROCA — Final Stage</h2>
        <p><span style="color: rgb(68, 68, 68);">Contrato válido a partir de November de 2023</p>
    <hr>

    <p>Para efetuar a troca, o cliente deverá assegurar que o produto está em perfeito estado e sem sinais de uso, ou
        seja, nas mesmas condições de recebimento, e em sua embalagem original.</p>
    Desde que cumpridas essas condições, poderá enviar um e-mail para email@dominio.com, informando seu nome completo,
    número do pedido e motivo da troca. </p>

    <p>Condições para devolução por arrependimento:
        Para o caso de arrependimento pela compra, será aceita devolução efetuada em até 7 dias, contados da data do
        recebimento do pedido.
        Para proceder à devolução, o cliente deverá enviar um e-mail para email@dominio.com, informando seu nome
        completo e número do pedido.
        O reembolso será realizado em até 30 dias, contados da data do recebimento do produto devolvido, sem qualquer
        custo adicional, utilizando-se o mesmo método de pagamento selecionado pelo cliente no momento da compra.</p>

    <h3>Produtos com defeito de fabricação:</h3>
    <p>Para o caso de itens com defeito de fabricação, serão aceitas devoluções feitas em até 30 dias, contados da data
        do recebimento do pedido.
        O cliente deverá enviar e-mail para email@dominio.com, informando seu nome completo, número do pedido e
        informações sobre o defeito de fabricação (descrição com fotos ou vídeos). </p>
    <p>O pedido será analisado em até 30 dias, contados da data de recebimento do(s) produto(s) restituído(s), sem
        qualquer custo adicional, e o valor será reembolsado pelo mesmo método de pagamento selecionado no momento da
        compra. </p>

    <h3>Como devolver os produtos:</h3>
    <p>Em cumprimento ao Código de Proteção e Defesa do Consumidor (Lei nº 8.078/90), os custos de envio da devolução de
        produtos por direito de arrependimento ou itens com defeito de fabricação serão tratados por logística reversa,
        às expensas do fornecedor.
        O cliente receberá um código de autorização de postagem por e-mail, após a sua solicitação de troca ou
        devolução, e deverá postar a mercadoria em uma agência dos Correios.
        Não cobrimos os custos de embalagem, por isso, sugere-se a utilização da mesma embalagem de compra, ou de outra
        caixa que mantenha o produto suficientemente protegido durante o transporte.<br>
    <span style="font-style: italic;">Endereço para devolução de produtos: [endereço informado]</span></p>
    <h3>Entre em contato conosco:</h3>

    <p>Caso você tenha qualquer dúvida sobre a nossa política de troca, por favor, entre em contato pelo
        email@dominio.com.</p>
</div>
{% endblock %}