/* footer {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: 0;
}

.navbar {
    background-color: #FFFAFF;
}

#logo {
    display: flex;
    width: 600px;
    justify-content: center;

}

.Centralizar {
    justify-content: center;
    align-items: center;
}

.cover {
    margin-top: 100px;
    width: 100%;
    height: auto;
} */

/* #collection {
    display: flex;
    min-height: 100px;
    background: #1E1B18;
    justify-content: center;
    align-items: center;
} */

.product-information{
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    font-weight: 400;
    margin: 0px;
    box-sizing: border-box;
    width: calc(35% - 16px);
    margin-left: 16px;
    text-align: center;
    padding: 16px;
    background-color: #fff;
}

.products {

    flex-shrink: 0;
}

.cover {
    width: 100%;
    height: auto;
}

.navegue {
    font-family: Montserrat;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 7.68px;
}

.links-navegar {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.imagem-container {
    width: 300px;
    height: 300px;
    overflow: hidden;
}

.imagem-container-product {
    width: 500px;
    height: 500px;
    overflow: hidden;
}

.imagem-container-product img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.imagem-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.product-main{
    padding-left: 100px;
}

/* .posicao {
    margin-top: 5%;
    margin-bottom: 20%;
} */

.newarrival {
    background-color: black;
    width: 100px;
    color: white;
    font-size: 12px;
    font-weight: bold;
}

.price {
    font-family: Inter;
    font-weight: bold;
    color: #555;
    font-size: 26px;
    font-weight: bold;
    padding-top: 20px;
}

.cart {
    background: #C00;
    color: white;
    font-size: 24px;
}

.search {
    position: relative;
    left: 50%;
    transition: all 750ms 0ms;
    transform: translateX(-50%);
    border-radius: 50px;
    box-shadow: 0 0 40px rgba(51, 51, 51, .1);
    max-width: 600px;
    min-width: 250px;

}

.search input {

    height: 40px;
    text-indent: 25px;
    border-radius: 50px;
    border: 2px solid #d6d4d4;



}

.search .fa-search {

    position: absolute;
    top: 20px;
    left: 16px;

}

.search button {

    position: absolute;
    top: -1px;
    right: 10px;
    height: 40px;
    width: 40px;

}

/* Fonts */
@font-face {
    font-family: 'Lost Emerald';
    src: url(./Fonts/Lost-Emerald.ttf);
    font-weight: regular;
    font-size: normal;
}

@font-face {
    font-family: 'Bebas';
    src: url(./Fonts/Bebas-Regular.ttf);
    font-weight: regular;
    font-size: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url(./Fonts/Montserrat-Regular.ttf);
    font-weight: regular;
    font-size: normal;
}

@font-face {
    font-family: 'Inter';
    src: url(./Fonts/Inter-Bold.ttf);
    font-weight: bold;
    font-size: normal;
}