.cover {
    width: 100%;
    height: auto;
}

.navegue {
    font-family: Montserrat;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 7.68px;
}

.links-navegar {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.imagem-container {
    width: 300px;
    height: 300px;
    overflow: hidden;
}

.imagem-container-product {
    width: 500px;
    height: 500px;
    overflow: hidden;
}

.imagem-container-product img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.imagem-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.product-main{
    padding-left: 100px;
}

.newarrival {
    background-color: black;
    width: 100px;
    color: white;
    font-size: 12px;
    font-weight: bold;
}

.price-product-page {
    font-family: Inter;
    font-weight: bold;
    color: #555;
    font-size: 26px;
    font-weight: bold;
    padding-top: 20px;
}

.cart {
    background: #C00;
    color: white;
    font-size: 24px;
}

.search {
    position: relative;
    left: 50%;
    transition: all 750ms 0ms;
    transform: translateX(-50%);
    border-radius: 50px;
    box-shadow: 0 0 40px rgba(51, 51, 51, .1);
    max-width: 600px;
    min-width: 250px;

}

.search input {

    height: 40px;
    text-indent: 25px;
    border-radius: 50px;
    border: 2px solid #d6d4d4;



}

.search .fa-search {

    position: absolute;
    top: 20px;
    left: 16px;

}

.search button {

    position: absolute;
    top: -1px;
    right: 10px;
    height: 40px;
    width: 40px;

}

.product-img{
    position: relative;
    overflow: hidden;
}

.btns{
    position: absolute;
    left: 0;
    bottom: -100%;
    font-size: 15px;
    font-weight: 300;
    transition: all 0.3s ease-in-out;
}

.btns button{
    border: none;
    background-color: rgb(39, 39, 39);
    color: #fff;
    transition: all 0.3s ease-in-out;
}

.btns button:hover{
    color: #0c50bd;
}

.product-img:hover .btns{
    bottom: 0;
}

.heart-icon{
    position: absolute;
    top: 16px;
    right: 15px;
    font-size: 18px;
}

.product-type{
    font-size: 13px;
    opacity: 0.8;
}

.product-name{
    transition: all 0.3s ease-in-out;
}

.product-name:hover{
    color: #0c50bd! important;
}

.rating{
    font-size: 13px;
}

/* Fonts */
@font-face {
    font-family: 'Lost Emerald';
    src: url(./Fonts/Lost-Emerald.ttf);
    font-weight: regular;
    font-size: normal;
}

@font-face {
    font-family: 'Bebas';
    src: url(./Fonts/Bebas-Regular.ttf);
    font-weight: regular;
    font-size: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url(./Fonts/Montserrat-Regular.ttf);
    font-weight: regular;
    font-size: normal;
}

@font-face {
    font-family: 'Inter';
    src: url(./Fonts/Inter-Bold.ttf);
    font-weight: bold;
    font-size: normal;
}